@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Force SVG sizing */
  svg.w-6 {
    width: 1.5rem !important;
    height: 1.5rem !important;
  }
  
  svg.w-8 {
    width: 2rem !important;
    height: 2rem !important;
  }
  
  svg.w-5 {
    width: 1.25rem !important;
    height: 1.25rem !important;
  }
  
  svg.w-12 {
    width: 3rem !important;
    height: 3rem !important;
  }
  
  svg.w-16 {
    width: 4rem !important;
    height: 4rem !important;
  }
}
